<a href="https://colab.research.google.com/github/linamarwabelkilani/modelisation-hydrologique/blob/main/11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
data_url = "https://raw.githubusercontent.com/linamarwabelkilani/modelisation-hydrologique/main/PluviometrieHVM1900_2015.csv"
df = pd.read_csv(data_url, on_bad_lines='skip',sep=";")
#les 3 dernier ligne sont vide
df.drop(df.tail(3).index,inplace=True) # drop last n rows
#df

<ipython-input-12-b582b9769852>:3: DtypeWarning: Columns (1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,49,50,51,52,53,54,55,56,57,58,60,61,62,63,64,65,66,67,68,70,71,72,73,74,75,78,79,80,81,82,83,84,85,86,88,89,90,91,92,93,94,95,96,97,98,100,101,102,103,104,105,106,107,109,111,112,113,115,116,117,118,120,121,122,123,124,126) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_url, on_bad_lines='skip',sep=";")

In [13]:
#ce varibale et pour la series des dates
date = df["dates"]
#creation d'une dataframe de 3 colum
data = pd.DataFrame({"Date":[],"Station":[],"Precipitation":[]})
data1 = pd.DataFrame({"Date":[],"Station":[],"Precipitation":[]})
data3 = pd.DataFrame({"Date":[],"Station":[],"Precipitation":[]})
data1["Date"]= df["dates"]
#test de remplisage des donnÃ©es

#fin test remplissage des donnÃ©es
i=0
#iteration sur la dataframe avec l'extraction des nom du station avec leur valuer
for (columnName, columnData) in df.iteritems():
  i=i+1
  if i == 1 :
    continue
  data3["Date"]=df["dates"]
  data3["Precipitation"]=columnData
  data3["Station"]=data3["Station"].fillna(columnName)
  data=data.append(data3,ignore_index=True)
  data3.drop(data3.index, inplace=True)
 # print("compleatin" , i ,"/",127 )


  pass
df1=data
df1

<ipython-input-13-c6f9d8100f73>:13: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (columnName, columnData) in df.iteritems():
<ipython-input-13-c6f9d8100f73>:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(data3,ignore_index=True)

               Date               Station Precipitation
0        01/01/1900  AIN BEYA OUED RHEZAL           NaN
1        02/01/1900  AIN BEYA OUED RHEZAL           NaN
2        03/01/1900  AIN BEYA OUED RHEZAL           NaN
3        04/01/1900  AIN BEYA OUED RHEZAL           NaN
4        05/01/1900  AIN BEYA OUED RHEZAL           NaN
...             ...                   ...           ...
5322991  27/08/2015         ZOUARINE GARE             3
5322992  28/08/2015         ZOUARINE GARE             7
5322993  29/08/2015         ZOUARINE GARE             0
5322994  30/08/2015         ZOUARINE GARE             0
5322995  31/08/2015         ZOUARINE GARE             0

[5322996 rows x 3 columns]

In [14]:

data = df1['Precipitation']
df = pd.DataFrame(data)

# Fonction de conversion personnalisÃ©e
def convert_to_float(value):
    if isinstance(value, str):
        return float(value.replace(',', '.'))
    else:
        return value

# Application de la conversion Ã  la colonne
df['Precipitation'] = df['Precipitation'].apply(convert_to_float)

# Mise Ã  jour des valeurs converties dans le DataFrame initial df1
df1.update(df)

print(df1)

               Date               Station Precipitation
0        01/01/1900  AIN BEYA OUED RHEZAL           NaN
1        02/01/1900  AIN BEYA OUED RHEZAL           NaN
2        03/01/1900  AIN BEYA OUED RHEZAL           NaN
3        04/01/1900  AIN BEYA OUED RHEZAL           NaN
4        05/01/1900  AIN BEYA OUED RHEZAL           NaN
...             ...                   ...           ...
5322991  27/08/2015         ZOUARINE GARE           3.0
5322992  28/08/2015         ZOUARINE GARE           7.0
5322993  29/08/2015         ZOUARINE GARE           0.0
5322994  30/08/2015         ZOUARINE GARE           0.0
5322995  31/08/2015         ZOUARINE GARE           0.0

[5322996 rows x 3 columns]

In [15]:
# VÃ©rifier s'il y a des valeurs manquantes dans la colonne "Precipitation"
if df1['Precipitation'].isnull().sum() > 0:
    print("Des valeurs manquantes (NaN) sont prÃ©sentes dans la colonne 'Precipitation'.")
else:
    print("Aucune valeur manquante (NaN) dans la colonne 'Precipitation'.")
# Calculer le nombre de valeurs manquantes (NaN) dans la colonne "Precipitation"
nan_count = df1['Precipitation'].isna().sum()
# Afficher le nombre de valeurs manquantes (NaN)
print(f"Nombre de valeurs manquantes (NaN) dans la colonne 'Precipitation': {nan_count}")

Des valeurs manquantes (NaN) sont prÃ©sentes dans la colonne 'Precipitation'.
Nombre de valeurs manquantes (NaN) dans la colonne 'Precipitation': 3219301

In [16]:
import numpy as np
# Remplacer les valeurs supÃ©rieures Ã  300.0 par NaN
df1['Precipitation'] = np.where(df1['Precipitation'] > 300.0, np.NaN, df1['Precipitation'])
# Afficher le dataframe mis Ã  jour
print(df1)

               Date               Station Precipitation
0        01/01/1900  AIN BEYA OUED RHEZAL           NaN
1        02/01/1900  AIN BEYA OUED RHEZAL           NaN
2        03/01/1900  AIN BEYA OUED RHEZAL           NaN
3        04/01/1900  AIN BEYA OUED RHEZAL           NaN
4        05/01/1900  AIN BEYA OUED RHEZAL           NaN
...             ...                   ...           ...
5322991  27/08/2015         ZOUARINE GARE           3.0
5322992  28/08/2015         ZOUARINE GARE           7.0
5322993  29/08/2015         ZOUARINE GARE           0.0
5322994  30/08/2015         ZOUARINE GARE           0.0
5322995  31/08/2015         ZOUARINE GARE           0.0

[5322996 rows x 3 columns]

In [17]:
# VÃ©rifier s'il y a des valeurs manquantes dans la colonne "Precipitation"
if df1['Precipitation'].isnull().sum() > 0:
    print("Des valeurs manquantes (NaN) sont prÃ©sentes dans la colonne 'Precipitation'.")
else:
    print("Aucune valeur manquante (NaN) dans la colonne 'Precipitation'.")
# Calculer le nombre de valeurs manquantes (NaN) dans la colonne "Precipitation"
nan_count = df1['Precipitation'].isna().sum()

# Afficher le nombre de valeurs manquantes (NaN)
print(f"Nombre de valeurs manquantes (NaN) dans la colonne 'Precipitation': {nan_count}")

Des valeurs manquantes (NaN) sont prÃ©sentes dans la colonne 'Precipitation'.
Nombre de valeurs manquantes (NaN) dans la colonne 'Precipitation': 3219304

In [18]:
station_groups = df1.groupby('Station')

# CrÃ©er une liste pour stocker les rÃ©sultats
results = []
index_lengths = []

# Parcours des stations
for station_name, station_data in station_groups:
    # RÃ©initialiser les index
    station_data = station_data.reset_index(drop=True)
    # Obtenir la valeur maximale des index rÃ©initialisÃ©s
    max_index = station_data.index.max()
    # Ajouter la valeur maximale des index Ã  la liste
    index_lengths.append(max_index + 1)  # Ajouter 1 car les index commencent Ã  partir de 0

    # Mettre Ã  jour les valeurs dans df1
    df1.loc[df1['Station'] == station_name, 'Precipitation'] = station_data['Precipitation']

# VÃ©rifier si tous les index ont la mÃªme longueur
all_same_length = all(length == index_lengths[0] for length in index_lengths)

# Afficher si tous les index ont la mÃªme longueur
print(f"Tous les stations ont des index identiques: {all_same_length}")

# Afficher la valeur maximale des index
max_index_value = max(index_lengths) - 1  # Soustraire 1 pour obtenir la valeur maximale de l'index
print(f"La valeur maximale des index est : {max_index_value}")

# Afficher le dataframe mis Ã  jour
print(df1)

Tous les stations ont des index identiques: True
La valeur maximale des index est : 42245
               Date               Station Precipitation
0        01/01/1900  AIN BEYA OUED RHEZAL           NaN
1        02/01/1900  AIN BEYA OUED RHEZAL           NaN
2        03/01/1900  AIN BEYA OUED RHEZAL           NaN
3        04/01/1900  AIN BEYA OUED RHEZAL           NaN
4        05/01/1900  AIN BEYA OUED RHEZAL           NaN
...             ...                   ...           ...
5322991  27/08/2015         ZOUARINE GARE           NaN
5322992  28/08/2015         ZOUARINE GARE           NaN
5322993  29/08/2015         ZOUARINE GARE           NaN
5322994  30/08/2015         ZOUARINE GARE           NaN
5322995  31/08/2015         ZOUARINE GARE           NaN

[5322996 rows x 3 columns]

In [19]:
# Parcours des stations
for station_name, station_data in station_groups:
    # Compter le nombre de zÃ©ros dans la colonne 'Precipitation'
    zero_count = (station_data['Precipitation'] == 0).sum()
    # Calculer le pourcentage de zÃ©ros
    zero_percentage = zero_count / len(station_data) * 100
    # Ajouter les rÃ©sultats Ã  la liste
    results.append((station_name, zero_percentage))

# Trier les rÃ©sultats par ordre croissant des pourcentages de zÃ©ros
sorted_results = sorted(results, key=lambda x: x[1])

# Afficher les stations avec les pourcentages de zÃ©ros
#for station, percentage in sorted_results:
    #print(f"Station: {station} - Pourcentage de zÃ©ros: {percentage}%")

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Filtrer les donnÃ©es pour la station "TIBAR SM"
station_data = df1[df1['Station'] == "TIBAR SM"]
precipitation_values = station_data['Precipitation'].values

# PrÃ©paration des donnÃ©es d'entraÃ®nement et de test
train_size = int(len(precipitation_values) * 0.8)
train_data = precipitation_values[:train_size]
test_data = precipitation_values[train_size:]

# Normalisation des donnÃ©es entre 0 et 1
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_train_data = scaler.fit_transform(train_data.reshape(-1, 1))

# PrÃ©paration des sÃ©quences et des Ã©tiquettes
def create_sequences(data, seq_length):
    X = []
    y = []
    for i in range(len(data) - seq_length):
        X.append(data[i:i+seq_length])
        y.append(data[i+seq_length])
    return np.array(X), np.array(y)

# Suggestions pour les hyperparamÃ¨tres
num_layers_list = [1]  # Nombre de couches LSTM
dropout_list = [0.2]  # Valeurs de dropout
seq_length_list = [20]  # Longueur de la sÃ©quence temporelle
batch_size = 32
best_model = None
best_mse = float('inf')
# Boucle pour essayer diffÃ©rentes combinaisons d'hyperparamÃ¨tres
for num_layers in num_layers_list:
    for dropout in dropout_list:
        for seq_length in seq_length_list:
            # Construction du modÃ¨le LSTM
            model = Sequential()
            model.add(LSTM(128, input_shape=(seq_length, 1), return_sequences=True))
            for _ in range(num_layers - 1):
                model.add(LSTM(64, return_sequences=True))
                model.add(Dropout(dropout))
            model.add(LSTM(64))
            model.add(Dropout(dropout))
            model.add(Dense(1))
            model.compile(loss='mean_squared_error', optimizer='adam')

            # EntraÃ®nement du modÃ¨le
            X_train, y_train = create_sequences(scaled_train_data, seq_length)
            model.fit(X_train, y_train, epochs=300, batch_size=batch_size, verbose=0)

            # PrÃ©paration des donnÃ©es de test pour les prÃ©dictions
            scaled_test_data = scaler.transform(test_data.reshape(-1, 1))
            X_test, y_test = create_sequences(scaled_test_data, seq_length)

            # Utilisation du modÃ¨le pour effectuer des prÃ©dictions
            predictions = model.predict(X_test)
            # RÃ©tablissement de la mise Ã  l'Ã©chelle des prÃ©dictions
            predictions = scaler.inverse_transform(predictions)

            # Ã‰valuation du modÃ¨le sur les donnÃ©es de test
            mse = mean_squared_error(y_test, predictions)
            mae = mean_absolute_error(y_test, predictions)
            r2 = r2_score(y_test, predictions)

            # Affichage des rÃ©sultats
            print("Station: TIBAR SM")
            print("Num Layers:", num_layers)
            print("Dropout:", dropout)
            print("Seq Length:", seq_length)
            print("MSE:", mse)
            print("MAE:", mae)
            print("R^2:", r2)

            # VÃ©rifier si le modÃ¨le actuel est le meilleur jusqu'Ã  prÃ©sent
            if mse < best_mse:
                best_mse = mse
                best_model = model

# Affichage des rÃ©sultats du meilleur modÃ¨le
print("Station: TIBAR SM")
print("Meilleur MSE:", best_mse)

# Utiliser le meilleur modÃ¨le pour les prÃ©dictions finales
# ... (code pour les prÃ©dictions finales)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_data.py:473: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_data.py:474: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)