<a href="https://colab.research.google.com/github/linamarwabelkilani/modelisation-hydrologique/blob/main/model_et_pr%C3%A9diction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
#importing liibrarys 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from google.colab import files
from numpy import log as ln
import tensorflow as tf
from tensorflow import keras
import tensorflow_probability as tfp

from sklearn.model_selection  import train_test_split
# Keras specific
import keras
from keras.models import Sequential
from keras.layers import Dense

In [42]:
#import dataset from github
data_url = "https://raw.githubusercontent.com/linamarwabelkilani/modelisation-hydrologique/main/Data%20.csv"
df = pd.read_csv(data_url, on_bad_lines='skip',sep=",",index_col=None)
df

       range  Precipitation  Hazen frequency  Parametre de  gumbel(u)
0          1       0.000000         0.000012                -2.428721
1          2       0.000000         0.000036                -2.326863
2          3       0.000000         0.000059                -2.275720
3          4       0.000000         0.000083                -2.240545
4          5       0.000000         0.000107                -2.213441
...      ...            ...              ...                      ...
42239  42240     250.000000         0.999893                 9.147087
42240  42241     300.000000         0.999917                 9.398413
42241  42242     316.799988         0.999941                 9.734897
42242  42243     335.000000         0.999964                10.245735
42243  42244     800.000000         0.999988                11.344359

[42244 rows x 4 columns]

In [44]:
#preparing data
x=df["Parametre de  gumbel(u)"].values
y=df["Precipitation"].values


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

x_train=x_train.reshape(-1, 1)
y_train=y_train.reshape(-1, 1)

array([[ 1.76499921],
       [ 4.35043085],
       [ 1.24211929],
       ...,
       [-1.07006388],
       [ 1.02503481],
       [-0.16187155]])

In [ ]:
# Define model
model = Sequential()
model.add(Dense(1000, input_dim=1, activation= "relu"))
model.add(Dense(100, activation= "relu"))
model.add(Dense(50, activation= "relu"))
model.add(Dense(10, activation= "relu"))
model.add(Dense(1))
        # Compile:
model.compile(optimizer="adam", loss="mean_squared_error", metrics=['accuracy'])
        # Train:
model.fit(x_train,y_train, epochs=50,batch_size=32)

Epoch 1/50
1057/1057 [==============================] - 6s 5ms/step - loss: 28.7506 - accuracy: 0.1746
Epoch 2/50
1057/1057 [==============================] - 4s 4ms/step - loss: 10.3732 - accuracy: 0.1977
Epoch 3/50
1057/1057 [==============================] - 5s 4ms/step - loss: 9.9533 - accuracy: 0.2007
Epoch 4/50
1057/1057 [==============================] - 5s 4ms/step - loss: 10.3306 - accuracy: 0.1986
Epoch 5/50
1057/1057 [==============================] - 5s 4ms/step - loss: 9.3902 - accuracy: 0.2028
Epoch 6/50
1057/1057 [==============================] - 5s 4ms/step - loss: 10.9952 - accuracy: 0.2028
Epoch 7/50
1057/1057 [==============================] - 5s 5ms/step - loss: 10.5884 - accuracy: 0.2032
Epoch 8/50
  51/1057 [>.............................] - ETA: 4s - loss: 0.1573 - accuracy: 0.2151

In [81]:
	# Test the accuracy:
print("Model Evaluation:")
test_loss, test_acc = model.evaluate(x_test, y_test) 
print("Evaluated Accuracy: ", test_acc)

Model Evaluation:
265/265 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.1978
Evaluated Accuracy:  0.19777488708496094

In [90]:
T=5
#T=1/(1-f(x))
#f(x) = (T-1)/T
def Fn_F(T):
  return (T-1)/T

def FN_U(x):
  return -ln(-ln(x))
#determiner u
U=FN_U(Fn_F(T))
print("U = ",U)

model.predict([U])

U =  1.4999399867595158

array([[24.250423]], dtype=float32)