<a href="https://colab.research.google.com/github/linamarwabelkilani/modelisation-hydrologique/blob/main/nanouchz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#import dataset from github
import pandas as pd
data_url = "https://raw.githubusercontent.com/linamarwabelkilani/modelisation-hydrologique/main/Dataset.csv"
df = pd.read_csv(data_url, on_bad_lines='skip',sep=";")


df['Station']=df['Station'].astype(str)
df = df.astype({'Station':'string'})
df = df.astype({'Date':'string'})
df['Date'] = pd.to_datetime(df['Date'],dayfirst=True,errors='coerce')
df = df.dropna()
print(df.dtypes)
df

Date             datetime64[ns]
Station                  string
Precipitation           float64
dtype: object

              Date               Station  Precipitation
0       1951-06-01  AIN BEYA OUED RHEZAL            0.0
1       1951-06-02  AIN BEYA OUED RHEZAL            0.0
2       1951-06-03  AIN BEYA OUED RHEZAL            0.0
3       1951-06-04  AIN BEYA OUED RHEZAL            0.0
4       1951-06-05  AIN BEYA OUED RHEZAL            0.0
...            ...                   ...            ...
2103688 2015-08-27         ZOUARINE GARE            3.0
2103689 2015-08-28         ZOUARINE GARE            7.0
2103690 2015-08-29         ZOUARINE GARE            0.0
2103691 2015-08-30         ZOUARINE GARE            0.0
2103692 2015-08-31         ZOUARINE GARE            0.0

[2103693 rows x 3 columns]

In [15]:
pip install pykrige

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pykrige in /usr/local/lib/python3.10/dist-packages (1.7.0)
Requirement already satisfied: numpy<2,>=1.14.5 in /usr/local/lib/python3.10/dist-packages (from pykrige) (1.22.4)
Requirement already satisfied: scipy<2,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from pykrige) (1.10.1)

In [23]:
import numpy as np
from scipy.interpolate import interp1d
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from pykrige import OrdinaryKriging

# MÃ©thode de l'interpolation inverse probabiliste (IPW)
def inverse_probability_weighting(x, y, kind):
    # Indices des valeurs manquantes
    missing_indices = np.isnan(y)
    # Indices des valeurs connues
    known_indices = ~missing_indices
    # Valeurs connues de x et y
    x_known = x[known_indices]
    y_known = y[known_indices]
    # Application de l'interpolation inverse aux valeurs manquantes
    ipw_interpolator = interp1d(x_known, y_known, kind=kind)
    y_predicted = ipw_interpolator(x)
    return y_predicted

# MÃ©thode de krige
def krige_interpolation(x, y):
    # Indices des valeurs manquantes
    missing_indices = np.isnan(y)
    # Indices des valeurs connues
    known_indices = ~missing_indices
    # Valeurs connues de x et y
    x_known = x[known_indices]
    y_known = y[known_indices]
     # Indices des valeurs manquantes dans x
    missing_x_indices = np.isnan(x[missing_indices])
    # CrÃ©ation du modÃ¨le de krige
    OK = OrdinaryKriging(x_known, y_known, x_known, verbose=False)
    # PrÃ©diction des valeurs manquantes
    y_predicted, _ = OK.execute("points", x[missing_indices], y_known)
    # Remplacement des valeurs manquantes par les valeurs prÃ©dites
    y[missing_indices] = y_predicted
    return y

# Liste des stations uniques
stations = df['Station'].unique()

# Types de kind Ã  tester
kind_types = ['linear', 'nearest', 'zero', 'quadratic', 'cubic','krige','spline']

# Parcours des stations
for station in stations:
    station_data = df[df['Station'] == station]
    x = np.arange(len(station_data))  # Utilisation de l'indice de la date comme variable indÃ©pendante
    y = station_data['Precipitation'].values  # Valeurs de prÃ©cipitation

    best_kind = None
    best_mse = float('inf')
    best_mae = float('inf')
    best_r2 = -float('inf')

    # Test des diffÃ©rents types de kind
    for kind in kind_types:
        if kind == 'krige':
            y_predicted = krige_interpolation(x, y)
        elif kind == 'spline':
            # Appliquer la mÃ©thode de spline pour 'spline'
            # Ajoutez votre code pour la mÃ©thode de spline ici
            continue
        else:
            y_predicted = inverse_probability_weighting(x, y, kind)
        
        mse = mean_squared_error(y[~np.isnan(y)], y_predicted[~np.isnan(y)])
        mae = mean_absolute_error(y[~np.isnan(y)], y_predicted[~np.isnan(y)])
        r2 = r2_score(y[~np.isnan(y)], y_predicted[~np.isnan(y)])

        if mse < best_mse:
            best_kind = kind
            best_mse = mse
            best_mae = mae
            best_r2 = r2

    print(f"Station: {station}")
    print(f"Best Kind: {best_kind}")

ValueError: ignored

In [3]:
station_groups = df.groupby('Station')
for station_name, station_data in station_groups:
    print(f"Station: {station_name}")
    print(station_data)
    print()

Station: AIN BEYA OUED RHEZAL
            Date               Station  Precipitation
0     1951-06-01  AIN BEYA OUED RHEZAL            0.0
1     1951-06-02  AIN BEYA OUED RHEZAL            0.0
2     1951-06-03  AIN BEYA OUED RHEZAL            0.0
3     1951-06-04  AIN BEYA OUED RHEZAL            0.0
4     1951-06-05  AIN BEYA OUED RHEZAL            0.0
...          ...                   ...            ...
18461 2015-08-27  AIN BEYA OUED RHEZAL            0.0
18462 2015-08-28  AIN BEYA OUED RHEZAL            0.0
18463 2015-08-29  AIN BEYA OUED RHEZAL            0.0
18464 2015-08-30  AIN BEYA OUED RHEZAL            0.0
18465 2015-08-31  AIN BEYA OUED RHEZAL            0.0

[18466 rows x 3 columns]

Station: AIN DEBBA
            Date    Station  Precipitation
18466 1968-11-01  AIN DEBBA            0.0
18467 1968-11-02  AIN DEBBA            0.0
18468 1968-11-03  AIN DEBBA            0.0
18469 1968-11-04  AIN DEBBA           26.0
18470 1968-11-05  AIN DEBBA            0.0
...          ...        ...            ...
34998 2015-08-27  AIN DEBBA            0.0
34999 2015-08-28  AIN DEBBA            0.0
35000 2015-08-29  AIN DEBBA            0.0
35001 2015-08-30  AIN DEBBA            0.0
35002 2015-08-31  AIN DEBBA            0.0

[16537 rows x 3 columns]

Station: AIN GUESIL 1
            Date       Station  Precipitation
50317 1961-09-01  AIN GUESIL 1            0.0
50318 1961-09-02  AIN GUESIL 1            0.0
50319 1961-09-03  AIN GUESIL 1            0.0
50320 1961-09-04  AIN GUESIL 1            0.0
50321 1961-09-05  AIN GUESIL 1            0.0
...          ...           ...            ...
68020 2015-02-24  AIN GUESIL 1            0.0
68021 2015-02-25  AIN GUESIL 1            0.0
68022 2015-02-26  AIN GUESIL 1            9.0
68023 2015-02-27  AIN GUESIL 1            0.0
68024 2015-02-28  AIN GUESIL 1            0.0

[17708 rows x 3 columns]

Station: AIN HAMRAYA
            Date      Station  Precipitation
68025 1912-09-01  AIN HAMRAYA            0.0
68026 1912-09-02  AIN HAMRAYA            0.0
68027 1912-09-03  AIN HAMRAYA            0.5
68028 1912-09-04  AIN HAMRAYA            0.0
68029 1912-09-05  AIN HAMRAYA            0.0
...          ...          ...            ...
90306 2015-08-27  AIN HAMRAYA            0.0
90307 2015-08-28  AIN HAMRAYA            0.0
90308 2015-08-29  AIN HAMRAYA            0.0
90309 2015-08-30  AIN HAMRAYA            0.0
90310 2015-08-31  AIN HAMRAYA            0.0

[22286 rows x 3 columns]

Station: AIN JEMMALA
            Date      Station  Precipitation
35003 1951-07-01  AIN JEMMALA            0.0
35004 1951-07-02  AIN JEMMALA            0.0
35005 1951-07-03  AIN JEMMALA            0.0
35006 1951-07-04  AIN JEMMALA            0.0
35007 1951-07-05  AIN JEMMALA            0.0
...          ...          ...            ...
50312 2015-08-27  AIN JEMMALA            0.0
50313 2015-08-28  AIN JEMMALA            0.0
50314 2015-08-29  AIN JEMMALA            0.0
50315 2015-08-30  AIN JEMMALA            0.0
50316 2015-08-31  AIN JEMMALA            0.0

[15314 rows x 3 columns]

Station: AIN KERMA 1
             Date      Station  Precipitation
90311  1928-05-01  AIN KERMA 1            0.0
90312  1928-05-02  AIN KERMA 1            0.0
90313  1928-05-03  AIN KERMA 1            0.0
90314  1928-05-04  AIN KERMA 1            0.0
90315  1928-05-05  AIN KERMA 1            0.0
...           ...          ...            ...
116593 2015-08-27  AIN KERMA 1            0.0
116594 2015-08-28  AIN KERMA 1            0.0
116595 2015-08-29  AIN KERMA 1            0.0
116596 2015-08-30  AIN KERMA 1            0.0
116597 2015-08-31  AIN KERMA 1            0.0

[26287 rows x 3 columns]

Station: AIN MERJA
             Date    Station  Precipitation
116598 1949-09-01  AIN MERJA            0.0
116599 1949-09-02  AIN MERJA            0.0
116600 1949-09-03  AIN MERJA            0.0
116601 1949-09-04  AIN MERJA            0.0
116602 1949-09-05  AIN MERJA            0.0
...           ...        ...            ...
134692 2015-08-27  AIN MERJA            0.0
134693 2015-08-28  AIN MERJA            0.0
134694 2015-08-29  AIN MERJA            0.0
134695 2015-08-30  AIN MERJA            0.0
134696 2015-08-31  AIN MERJA            0.0

[18099 rows x 3 columns]

Station: AIN S'KOUM
             Date     Station  Precipitation
134697 1970-09-01  AIN S'KOUM            0.0
134698 1970-09-02  AIN S'KOUM            0.0
134699 1970-09-03  AIN S'KOUM            0.0
134700 1970-09-04  AIN S'KOUM            0.0
134701 1970-09-05  AIN S'KOUM            0.0
...           ...         ...            ...
150303 2015-08-27  AIN S'KOUM            0.0
150304 2015-08-28  AIN S'KOUM            0.0
150305 2015-08-29  AIN S'KOUM            0.0
150306 2015-08-30  AIN S'KOUM            0.0
150307 2015-08-31  AIN S'KOUM            0.0

[15611 rows x 3 columns]

Station: AIN SALLEM
             Date     Station  Precipitation
150308 1942-09-02  AIN SALLEM            0.0
150309 1942-09-03  AIN SALLEM            0.0
150310 1942-09-04  AIN SALLEM            0.0
150311 1942-09-05  AIN SALLEM            0.0
150312 1942-09-06  AIN SALLEM            0.0
...           ...         ...            ...
168922 2013-04-26  AIN SALLEM            0.0
168923 2013-04-27  AIN SALLEM            0.0
168924 2013-04-28  AIN SALLEM            0.0
168925 2013-04-29  AIN SALLEM            0.0
168926 2013-04-30  AIN SALLEM            0.0

[18619 rows x 3 columns]

Station: AIN TABIA
             Date    Station  Precipitation
168927 1967-12-01  AIN TABIA            0.2
168928 1967-12-02  AIN TABIA            0.0
168929 1967-12-03  AIN TABIA            7.5
168930 1967-12-04  AIN TABIA            1.5
168931 1967-12-05  AIN TABIA            0.0
...           ...        ...            ...
185231 2014-09-26  AIN TABIA            0.0
185232 2014-09-27  AIN TABIA            0.0
185233 2014-09-28  AIN TABIA            0.0
185234 2014-09-29  AIN TABIA            0.0
185235 2014-09-30  AIN TABIA            0.0

[16309 rows x 3 columns]

Station: AIN TOUNGA SE
             Date        Station  Precipitation
185236 1962-01-01  AIN TOUNGA SE            0.0
185237 1962-01-02  AIN TOUNGA SE            0.0
185238 1962-01-03  AIN TOUNGA SE            0.0
185239 1962-01-04  AIN TOUNGA SE            0.0
185240 1962-01-05  AIN TOUNGA SE            0.0
...           ...            ...            ...
203398 2015-08-27  AIN TOUNGA SE            0.0
203399 2015-08-28  AIN TOUNGA SE            0.0
203400 2015-08-29  AIN TOUNGA SE            0.0
203401 2015-08-30  AIN TOUNGA SE            0.0
203402 2015-08-31  AIN TOUNGA SE            0.0

[18167 rows x 3 columns]

Station: AIN ZAKKAR
             Date     Station  Precipitation
220419 1932-09-01  AIN ZAKKAR           60.0
220420 1932-09-02  AIN ZAKKAR            0.0
220421 1932-09-03  AIN ZAKKAR            0.0
220422 1932-09-04  AIN ZAKKAR            0.0
220423 1932-09-05  AIN ZAKKAR            0.0
...           ...         ...            ...
248129 2015-08-27  AIN ZAKKAR            0.0
248130 2015-08-28  AIN ZAKKAR            0.0
248131 2015-08-29  AIN ZAKKAR            0.0
248132 2015-08-30  AIN ZAKKAR            0.0
248133 2015-08-31  AIN ZAKKAR            0.0

[27715 rows x 3 columns]

Station: AIN ZANA
             Date   Station  Precipitation
248134 1950-01-02  AIN ZANA            0.0
248135 1950-01-03  AIN ZANA            0.0
248136 1950-01-04  AIN ZANA            0.0
248137 1950-01-05  AIN ZANA            0.0
248138 1950-01-06  AIN ZANA            0.0
...           ...       ...            ...
268447 2013-08-27  AIN ZANA           14.0
268448 2013-08-28  AIN ZANA           19.0
268449 2013-08-29  AIN ZANA            0.0
268450 2013-08-30  AIN ZANA           19.0
268451 2013-08-31  AIN ZANA           40.0

[20318 rows x 3 columns]

Station: AIN ZARGA RETENUE
             Date            Station  Precipitation
203403 1991-10-02  AIN ZARGA RETENUE            0.0
203404 1991-10-03  AIN ZARGA RETENUE            0.0
203405 1991-10-04  AIN ZARGA RETENUE            0.0
203406 1991-10-05  AIN ZARGA RETENUE            0.0
203407 1991-10-06  AIN ZARGA RETENUE            0.0
...           ...                ...            ...
212074 2015-08-27  AIN ZARGA RETENUE            8.0
212075 2015-08-28  AIN ZARGA RETENUE            0.0
212076 2015-08-29  AIN ZARGA RETENUE           15.0
212077 2015-08-30  AIN ZARGA RETENUE            0.0
212078 2015-08-31  AIN ZARGA RETENUE            0.0

[8676 rows x 3 columns]

Station: AIN ZARGA RUINE ROMA
             Date               Station  Precipitation
212079 1991-10-02  AIN ZARGA RUINE ROMA            0.0
212080 1991-10-03  AIN ZARGA RUINE ROMA            0.0
212081 1991-10-04  AIN ZARGA RUINE ROMA            0.0
212082 1991-10-05  AIN ZARGA RUINE ROMA            0.0
212083 1991-10-06  AIN ZARGA RUINE ROMA            0.0
...           ...                   ...            ...
220414 2015-01-27  AIN ZARGA RUINE ROMA            0.0
220415 2015-01-28  AIN ZARGA RUINE ROMA            0.0
220416 2015-01-29  AIN ZARGA RUINE ROMA            0.0
220417 2015-01-30  AIN ZARGA RUINE ROMA            0.0
220418 2015-01-31  AIN ZARGA RUINE ROMA            0.0

[8340 rows x 3 columns]

Station: AIN ZEBDA
             Date    Station  Precipitation
268452 1987-04-02  AIN ZEBDA            0.0
268453 1987-04-03  AIN ZEBDA            0.0
268454 1987-04-04  AIN ZEBDA            0.0
268455 1987-04-05  AIN ZEBDA            0.0
268456 1987-04-06  AIN ZEBDA            0.0
...           ...        ...            ...
278702 2015-08-27  AIN ZEBDA            0.0
278703 2015-08-28  AIN ZEBDA            0.0
278704 2015-08-29  AIN ZEBDA            0.0
278705 2015-08-30  AIN ZEBDA            0.0
278706 2015-08-31  AIN ZEBDA            0.0

[10255 rows x 3 columns]

Station: AIN ZELIGUA
             Date      Station  Precipitation
278707 1970-02-01  AIN ZELIGUA            0.0
278708 1970-02-02  AIN ZELIGUA           12.5
278709 1970-02-03  AIN ZELIGUA            0.0
278710 1970-02-04  AIN ZELIGUA            0.0
278711 1970-02-05  AIN ZELIGUA            0.0
...           ...          ...            ...
292942 2013-09-26  AIN ZELIGUA            0.0
292943 2013-09-27  AIN ZELIGUA            0.0
292944 2013-09-28  AIN ZELIGUA            0.0
292945 2013-09-29  AIN ZELIGUA            0.0
292946 2013-09-30  AIN ZELIGUA            0.0

[14240 rows x 3 columns]

Station: AKOUAT GARE
             Date      Station  Precipitation
292947 1932-02-01  AKOUAT GARE            0.0
292948 1932-02-02  AKOUAT GARE            0.0
292949 1932-02-03  AKOUAT GARE            0.0
292950 1932-02-04  AKOUAT GARE            0.0
292951 1932-02-05  AKOUAT GARE            0.0
...           ...          ...            ...
317956 2015-08-27  AKOUAT GARE            7.0
317957 2015-08-28  AKOUAT GARE            0.0
317958 2015-08-29  AKOUAT GARE            0.0
317959 2015-08-30  AKOUAT GARE            0.0
317960 2015-08-31  AKOUAT GARE            0.0

[25014 rows x 3 columns]

Station: BADROUNA
             Date   Station  Precipitation
317961 1965-08-31  BADROUNA            2.7
317962 1965-09-01  BADROUNA            0.0
317963 1965-09-02  BADROUNA            0.0
317964 1965-09-03  BADROUNA            0.0
317965 1965-09-04  BADROUNA            0.0
...           ...       ...            ...
335024 2015-08-27  BADROUNA            0.0
335025 2015-08-28  BADROUNA            0.0
335026 2015-08-29  BADROUNA            0.0
335027 2015-08-30  BADROUNA            0.0
335028 2015-08-31  BADROUNA            0.0

[17068 rows x 3 columns]

Station: BALTA CTV
             Date    Station  Precipitation
335029 1985-05-01  BALTA CTV            0.0
335030 1985-05-02  BALTA CTV            0.0
335031 1985-05-03  BALTA CTV            0.0
335032 1985-05-04  BALTA CTV            0.0
335033 1985-05-05  BALTA CTV            0.0
...           ...        ...            ...
346030 2015-08-27  BALTA CTV            0.0
346031 2015-08-28  BALTA CTV            2.0
346032 2015-08-29  BALTA CTV            0.0
346033 2015-08-30  BALTA CTV            0.0
346034 2015-08-31  BALTA CTV            0.0

[11006 rows x 3 columns]

Station: BARRAGE KASSEB
             Date         Station  Precipitation
346035 1978-08-31  BARRAGE KASSEB            0.0
346036 1978-09-01  BARRAGE KASSEB            0.0
346037 1978-09-02  BARRAGE KASSEB            0.0
346038 1978-09-03  BARRAGE KASSEB            0.0
346039 1978-09-04  BARRAGE KASSEB            0.0
...           ...             ...            ...
359515 2015-08-27  BARRAGE KASSEB            0.0
359516 2015-08-28  BARRAGE KASSEB           15.4
359517 2015-08-29  BARRAGE KASSEB            0.0
359518 2015-08-30  BARRAGE KASSEB            0.0
359519 2015-08-31  BARRAGE KASSEB            0.0

[13485 rows x 3 columns]

Station: BARRAGE LAKMES
             Date         Station  Precipitation
359520 1973-09-01  BARRAGE LAKMES            0.0
359521 1973-09-02  BARRAGE LAKMES            0.0
359522 1973-09-03  BARRAGE LAKMES            0.0
359523 1973-09-04  BARRAGE LAKMES            0.0
359524 1973-09-05  BARRAGE LAKMES            0.0
...           ...             ...            ...
373998 2015-08-27  BARRAGE LAKMES            0.0
373999 2015-08-28  BARRAGE LAKMES            0.0
374000 2015-08-29  BARRAGE LAKMES            0.0
374001 2015-08-30  BARRAGE LAKMES            0.0
374002 2015-08-31  BARRAGE LAKMES            0.0

[14483 rows x 3 columns]

Station: BARRAGE SIDI SALEM
             Date             Station  Precipitation
374003 1986-08-31  BARRAGE SIDI SALEM            8.2
374004 1986-09-01  BARRAGE SIDI SALEM            3.8
374005 1986-09-02  BARRAGE SIDI SALEM            0.0
374006 1986-09-03  BARRAGE SIDI SALEM            0.0
374007 1986-09-04  BARRAGE SIDI SALEM            0.0
...           ...                 ...            ...
384437 2015-08-27  BARRAGE SIDI SALEM            0.0
384438 2015-08-28  BARRAGE SIDI SALEM            0.0
384439 2015-08-29  BARRAGE SIDI SALEM            0.0
384440 2015-08-30  BARRAGE SIDI SALEM            0.0
384441 2015-08-31  BARRAGE SIDI SALEM            0.0

[10439 rows x 3 columns]

Station: BATANE ECOLE
             Date       Station  Precipitation
384442 1951-11-30  BATANE ECOLE            0.0
384443 1951-12-01  BATANE ECOLE            0.0
384444 1951-12-02  BATANE ECOLE            0.0
384445 1951-12-03  BATANE ECOLE            0.0
384446 1951-12-04  BATANE ECOLE            0.0
...           ...           ...            ...
406631 2015-08-27  BATANE ECOLE            0.0
406632 2015-08-28  BATANE ECOLE            0.0
406633 2015-08-29  BATANE ECOLE            0.0
406634 2015-08-30  BATANE ECOLE            0.0
406635 2015-08-31  BATANE ECOLE            0.0

[22194 rows x 3 columns]

Station: BATANE OMVVM
             Date       Station  Precipitation
406636 1984-08-30  BATANE OMVVM            0.0
406637 1984-08-31  BATANE OMVVM            0.0
406638 1984-09-01  BATANE OMVVM            0.0
406639 1984-09-02  BATANE OMVVM            0.0
406640 1984-09-03  BATANE OMVVM            0.0
...           ...           ...            ...
417802 2015-08-27  BATANE OMVVM            0.0
417803 2015-08-28  BATANE OMVVM            0.0
417804 2015-08-29  BATANE OMVVM            0.0
417805 2015-08-30  BATANE OMVVM            0.0
417806 2015-08-31  BATANE OMVVM            0.0

[11171 rows x 3 columns]

Station: BEN METIR 2 SM
             Date         Station  Precipitation
480571 1946-04-30  BEN METIR 2 SM            0.0
480572 1946-05-01  BEN METIR 2 SM            0.0
480573 1946-05-02  BEN METIR 2 SM            0.0
480574 1946-05-03  BEN METIR 2 SM            0.0
480575 1946-05-04  BEN METIR 2 SM            0.0
...           ...             ...            ...
505365 2015-08-27  BEN METIR 2 SM            0.0
505366 2015-08-28  BEN METIR 2 SM            0.0
505367 2015-08-29  BEN METIR 2 SM            0.0
505368 2015-08-30  BEN METIR 2 SM            0.0
505369 2015-08-31  BEN METIR 2 SM            0.0

[24799 rows x 3 columns]

Station: BESSOUAGUI  PF
             Date         Station  Precipitation
417807 1947-10-31  BESSOUAGUI  PF            0.0
417808 1947-11-01  BESSOUAGUI  PF            1.5
417809 1947-11-02  BESSOUAGUI  PF            0.0
417810 1947-11-03  BESSOUAGUI  PF            9.5
417811 1947-11-04  BESSOUAGUI  PF           26.6
...           ...             ...            ...
430898 2015-08-27  BESSOUAGUI  PF            0.0
430899 2015-08-28  BESSOUAGUI  PF            0.0
430900 2015-08-29  BESSOUAGUI  PF            0.0
430901 2015-08-30  BESSOUAGUI  PF            0.0
430902 2015-08-31  BESSOUAGUI  PF            0.0

[13096 rows x 3 columns]

Station: BORDJ HAMDOUNA
             Date         Station  Precipitation
464629 1965-08-31  BORDJ HAMDOUNA            0.0
464630 1965-09-01  BORDJ HAMDOUNA            0.0
464631 1965-09-02  BORDJ HAMDOUNA            0.0
464632 1965-09-03  BORDJ HAMDOUNA            0.0
464633 1965-09-04  BORDJ HAMDOUNA            0.0
...           ...             ...            ...
480566 2015-08-27  BORDJ HAMDOUNA            0.0
480567 2015-08-28  BORDJ HAMDOUNA            0.0
480568 2015-08-29  BORDJ HAMDOUNA            0.0
480569 2015-08-30  BORDJ HAMDOUNA            0.0
480570 2015-08-31  BORDJ HAMDOUNA            0.0

[15942 rows x 3 columns]

Station: BORJ EL AIFA
             Date       Station  Precipitation
450808 1977-03-01  BORJ EL AIFA            0.0
450809 1977-03-02  BORJ EL AIFA            0.0
450810 1977-03-03  BORJ EL AIFA            0.0
450811 1977-03-04  BORJ EL AIFA            0.0
450812 1977-03-05  BORJ EL AIFA            0.0
...           ...           ...            ...
464624 2015-08-27  BORJ EL AIFA            6.0
464625 2015-08-28  BORJ EL AIFA            4.0
464626 2015-08-29  BORJ EL AIFA            0.0
464627 2015-08-30  BORJ EL AIFA            0.0
464628 2015-08-31  BORJ EL AIFA            0.0

[13821 rows x 3 columns]

Station: BORJ EL AMRI
             Date       Station  Precipitation
430903 1959-01-31  BORJ EL AMRI            8.8
430904 1959-02-01  BORJ EL AMRI            7.4
430905 1959-02-02  BORJ EL AMRI            0.6
430906 1959-02-03  BORJ EL AMRI            7.5
430907 1959-02-04  BORJ EL AMRI            0.0
...           ...           ...            ...
450803 2015-08-27  BORJ EL AMRI            0.0
450804 2015-08-28  BORJ EL AMRI            0.0
450805 2015-08-29  BORJ EL AMRI            0.0
450806 2015-08-30  BORJ EL AMRI            0.0
450807 2015-08-31  BORJ EL AMRI            0.0

[19905 rows x 3 columns]

Station: BOU HEURTMA
             Date      Station  Precipitation
505370 1958-12-31  BOU HEURTMA            0.0
505371 1959-01-01  BOU HEURTMA            0.0
505372 1959-01-02  BOU HEURTMA            0.0
505373 1959-01-03  BOU HEURTMA            0.0
505374 1959-01-04  BOU HEURTMA            0.0
...           ...          ...            ...
525085 2015-08-27  BOU HEURTMA            0.0
525086 2015-08-28  BOU HEURTMA            6.4
525087 2015-08-29  BOU HEURTMA            0.0
525088 2015-08-30  BOU HEURTMA            0.0
525089 2015-08-31  BOU HEURTMA            0.0

[19720 rows x 3 columns]

Station: BOU SALEM DRE
              Date        Station  Precipitation
1764131 1965-09-30  BOU SALEM DRE            0.0
1764132 1965-10-01  BOU SALEM DRE            0.0
1764133 1965-10-02  BOU SALEM DRE            0.0
1764134 1965-10-03  BOU SALEM DRE            0.0
1764135 1965-10-04  BOU SALEM DRE            0.0
...            ...            ...            ...
1782265 2015-08-27  BOU SALEM DRE            0.0
1782266 2015-08-28  BOU SALEM DRE            8.9
1782267 2015-08-29  BOU SALEM DRE            0.0
1782268 2015-08-30  BOU SALEM DRE            0.0
1782269 2015-08-31  BOU SALEM DRE            0.0

[18139 rows x 3 columns]

Station: CHAOUAT
             Date  Station  Precipitation
525090 1984-01-31  CHAOUAT            6.5
525091 1984-02-01  CHAOUAT            0.0
525092 1984-02-02  CHAOUAT            0.0
525093 1984-02-03  CHAOUAT            0.7
525094 1984-02-04  CHAOUAT            0.0
...           ...      ...            ...
536250 2015-08-27  CHAOUAT            0.0