<a href="https://colab.research.google.com/github/linamarwabelkilani/modelisation-hydrologique/blob/main/netoyage_des_donn%C3%A9es_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing liibrarys 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from google.colab import files
from numpy import log as ln

In [4]:
#import dataset from github
data_url = "https://raw.githubusercontent.com/linamarwabelkilani/modelisation-hydrologique/main/Dataset.csv"
df = pd.read_csv(data_url, on_bad_lines='skip',sep=";")

In [6]:
df['Date'] = pd.to_datetime(df['Date'],dayfirst=True,errors='coerce')
df = df.dropna()
df.reset_index(drop=True, inplace=True)
df

              Date               Station  Precipitation
0       1951-06-01  AIN BEYA OUED RHEZAL            0.0
1       1951-06-02  AIN BEYA OUED RHEZAL            0.0
2       1951-06-03  AIN BEYA OUED RHEZAL            0.0
3       1951-06-04  AIN BEYA OUED RHEZAL            0.0
4       1951-06-05  AIN BEYA OUED RHEZAL            0.0
...            ...                   ...            ...
2103688 2015-08-27         ZOUARINE GARE            3.0
2103689 2015-08-28         ZOUARINE GARE            7.0
2103690 2015-08-29         ZOUARINE GARE            0.0
2103691 2015-08-30         ZOUARINE GARE            0.0
2103692 2015-08-31         ZOUARINE GARE            0.0

[2103693 rows x 3 columns]

In [7]:
#supprission des précepitation avec valeur > 300 (3 ligne)
df = df.drop(df[df.Precipitation > 300].index)
df

              Date               Station  Precipitation
0       1951-06-01  AIN BEYA OUED RHEZAL            0.0
1       1951-06-02  AIN BEYA OUED RHEZAL            0.0
2       1951-06-03  AIN BEYA OUED RHEZAL            0.0
3       1951-06-04  AIN BEYA OUED RHEZAL            0.0
4       1951-06-05  AIN BEYA OUED RHEZAL            0.0
...            ...                   ...            ...
2103688 2015-08-27         ZOUARINE GARE            3.0
2103689 2015-08-28         ZOUARINE GARE            7.0
2103690 2015-08-29         ZOUARINE GARE            0.0
2103691 2015-08-30         ZOUARINE GARE            0.0
2103692 2015-08-31         ZOUARINE GARE            0.0

[2103690 rows x 3 columns]

In [24]:
def percent(num_a, num_b):
  q=num_a / num_b
  return q * 100
count_zero=(df["Precipitation"] == 0).sum()
print("les nombres des zero : ",count_zero , " pourcontage : ",percent(count_zero,len(df.index)))
# 82.9 % des valeur dans notre Dataset sont des zeros !!

les nombres des zero :  1745539  pourcontage :  82.97510564769523